XTerm*title: terminal
XTerm.termName: xterm-256color

XTerm*vt100.geometry: 100x30
XTerm*internalBorder: 20
XTerm*saveLines: 30000

XTerm*faceName: PragmataPro Mono
XTerm*boldColors: false

XTerm.vt100.faceSize: 9

XTerm.vt100.faceSize1: 9
XTerm.vt100.faceSize2: 10.5
XTerm.vt100.faceSize3: 12
XTerm.vt100.faceSize4: 14
XTerm.vt100.faceSize5: 16
XTerm.vt100.faceSize6: 20
XTerm.vt100.faceSize7: 24

XTerm*selectToClipboard: true
XTerm*highlightSelection: true
XTerm*trimSelection: true
XTerm*metaSendsEscape: true

! keybindings
XTerm*vt100.translations: #override \n\
  Ctrl Shift <Key> c: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key> v: insert-selection(CLIPBOARD) \n\
  Ctrl <Key> -: smaller-vt-font() \n\
  Ctrl <Key> +: larger-vt-font() \n\
  Meta <Key> space: dabbrev-expand()

! colors
XTerm*background: #FFFFEA
XTerm*foreground: #000000

! selections
XTerm*highlightColor: #9EEEEE
XTerm*highlightTextColor: #000000

! regular
XTerm*color0: #000000
XTerm*color1: #000000
XTerm*color2: #000000
XTerm*color3: #000000
XTerm*color4: #000000
XTerm*color5: #000000
XTerm*color6: #000000
XTerm*color7: #FFFFFF

! bright
XTerm*color8:  #000000
XTerm*color9:  #000000
XTerm*color10: #000000
XTerm*color11: #000000
XTerm*color12: #000000
XTerm*color13: #000000
XTerm*color14: #000000
XTerm*color15: #FFFFFF
