XTerm*title: terminal
XTerm.termName: xterm-256color

XTerm*vt100.geometry: 100x30
XTerm*internalBorder: 20
XTerm*saveLines: 30000

XTerm*faceName: PragmataPro Mono
XTerm*boldColors: false

XTerm.vt100.faceSize: 10.5

XTerm.vt100.faceSize1: 9
XTerm.vt100.faceSize2: 10.5
XTerm.vt100.faceSize3: 12
XTerm.vt100.faceSize4: 14
XTerm.vt100.faceSize5: 16
XTerm.vt100.faceSize6: 20
XTerm.vt100.faceSize7: 24

XTerm*selectToClipboard: true
XTerm*highlightSelection: true
XTerm*trimSelection: true
XTerm*metaSendsEscape: true

! keybindings
XTerm*vt100.translations: #override \n\
  Ctrl Shift <Key> c: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key> v: insert-selection(CLIPBOARD) \n\
  Ctrl <Key> -: smaller-vt-font() \n\
  Ctrl <Key> +: larger-vt-font() \n\
  Meta <Key> space: dabbrev-expand()

! colors
XTerm*background: #203040
XTerm*foreground: #E1E3C5

! black
XTerm*color0: #000000
XTerm*color8: #AAADB3

! red
XTerm*color1: #FF695C
XTerm*color9: #663D52

! green
XTerm*color2: #79A4A9
XTerm*color10: #293A4A

! yellow
XTerm*color3: #FFD480
XTerm*color11: #494F5C

! blue
XTerm*color4: #A194EB
XTerm*color12: #545B6C

! magenta
XTerm*color5: #E27E5A
XTerm*color13: #D294B3

! cyan
XTerm*color6: #A3BDCF
XTerm*color14: #203040

! white
XTerm*color7: #C7CAD1
XTerm*color15: #FFFFFF
